body {
  overflow-x: hidden;
  background-color: $black;
  color: $dark-grey;
}

.page {
  background-color: $lightest-grey;
  min-height: calc(100vh - 90px);
  margin-top: 90px;
  padding-left: 0;
  transition: padding 0.3s linear;
  &.menu-open {
    padding-left: 200px;
  }
}


// Calculate
// =========
@function width($value, $unit, $width: $page-width) {
  @return #{($width * $value) / 100 }$unit;
}

.card {
  background: #fff;
  padding: 25px 25px 25px;
  margin-bottom: 25px;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  @include box-shadow;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: width(100, px);
  padding: 0 1.25rem;
}

.row.inset-margin {
  padding: 0;
  margin: 0 -1.25rem;
  width: calc(100% + 2.5rem);
}

.row.no-margin {
  padding: 0;
  margin: 0;
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 1.25rem;
}

.cell {
  padding: 10px;
}

@for $i from 1 through 20 {
  .cell:nth-child(#{$i}) {
    order: $i;
  }
}

// Classes
// =======

@for $i from 1 through $max_column_count {
  .is-#{$i} {
    flex-basis: percentage($i / $max_column_count);
    max-width: percentage($i / $max_column_count);
  }
}