.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
}

.modal__wrapper {
  background: #fff;
  left: 1rem;
  width: calc(100% - 2rem);
  margin-bottom: 4rem;
  top: 1rem;
  z-index: 100;
  position: absolute;
  @include large-box-shadow;
  @media only screen and (min-width: 921px) {
    width: 90rem;
    left: 50%;
    margin-left: -45rem;
    top: 12rem;
  }
  .large & {
    left: 1rem;
    width: calc(100% - 2rem);
    margin-left: 0;
    @media only screen and (min-width: 1421px) {
      margin-left: -70rem;
      left: 50%;
      width: 140rem;
    }
  }
  .small & {
    @media only screen and (min-width: 521px) {
      margin-left: -25rem;
      left: 50%;
      width: 50rem;
    }
  }
  .x-large &{
    margin-left: 0;
    left: 1rem;
    width: calc(100% - 2rem);
  }
}

.modal__header {
  padding: 2rem 2.4rem 1.5rem;
  position: relative;
  border-bottom: 1px solid $lightest-grey;
  h3 {
    margin: 0;
  }
}

.modal__subheading {
  font-weight: 400;
}

.modal__body {
  padding: 2.5rem 0 0;
}

.modal__close {
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  @include transition__opacity;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.modal__footer {
  padding: 2.5rem;
  border-top: 1px solid $lightest-grey;
  button, .button {
    margin-right: 25px;
    &:last-child {
      float: right;
      margin-right: 0;
    }
  }
}