@mixin transition__all() {
  transition: all 0.3s linear;
}

@mixin transition__opacity() {
  transition: opacity 0.3s linear;
}

@mixin transition__background() {
  transition: background 0.3s linear;
}