// Blockquote
// ==========

// Varaibles

%blockquote,
.blockquote,
blockquote {
    margin: 0rem 0rem 2rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: (21 / 14);
    color: $dark-grey;
    padding-left: 2.8rem;
    border-left: 3px solid #4A4A4A;

    @include bp_min($tablet) {
        font-size: 2.3rem;
        line-height: (32 / 23);
        padding-left: 4.8rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    footer {
        padding-top: 1rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: (29 / 14);
        color: $grey;
    }
}
