// --------------- // Buttons Styles // --------------- //

//
// button default styles
//
.button,
button {
    -webkit-appearance: none;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    background: $primary;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    line-height: 20px;
    padding: 1.5rem 3rem;
    @include transition__background;
    &:not(.fr-btn) {
        @include box-shadow;
    }
    &:hover {
        background: mix($primary, #000, 80%);
        color: #fff;
    }
}

.action-button {
    z-index: 5;
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50%;
    align-items: center;
    background: $primary;
    color: #fff !important;
    @include transition__background;
    @include box-shadow;
    &:hover {
        background: mix($primary, #000, 80%);
    }
    &.no-back {
        background: none;
        color: $dark-grey !important;
        box-shadow: none;
        @include transition__all;
        &:hover {
            background: $lightest-grey;
            @include box-shadow;
        }
    }
}

.button--positive {
    background: $green;
    &:hover {
        background: mix($green, #000, 80%);
    }
}

.button--negative {
    background: $red;
    &:hover {
        background: mix($red, #000, 80%);
    }
}

button:focus {
    border: none;
    outline: none;
}

.action-button.fixed {
    position: fixed;
    width: 56px;
    height: 56px;
    right: 25px;
    bottom: 25px;
}