// Typography
// Built by: James Bliss
// Version: 0.3
// Notes: designed to allow massive flexibility and less overriding.
// New: Adding new word wrapping properties.
// ===========================
@mixin cleanTop {
    &:first-child {
        margin-top: 0;
    }
}

// =====
// All typographic elements are styled by default. All of these offer a
// class and placeholder to repoduce the styling on another element
// =====
body {
    font-size: 140%; // 14px

    @include bp_min($tablet) {
        font-size: 170%; // 17px
    }
}

%h1,
.h1,
h1 {
    @include cleanTop();
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-size: 2.4rem;
    line-height: 1.2;
    margin: 0;

    @include bp_min($tablet) {
        font-size: 3.2rem;
    }
}

%h2,
.h2,
h2 {
    @include cleanTop();
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-size: 2.3rem;
    line-height: (31/23);
    margin: 1rem 0;
    
    @include bp_min($tablet) {
        font-size: 3.7rem;
        line-height: (45/37);
    }
}

%h3,
.h3,
h3 {
    @include cleanTop();
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-size: 1.7rem;
    line-height: (29/17);
    margin: 0.8rem 0;

    @include bp_min($tablet) {
        font-size: 2.3rem;
        line-height: (31/23);
    }
}

%h4,
.h4,
h4 {
    @include cleanTop();
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-size: 1.4rem;
    line-height: (23/14);
    margin: 0.5rem 0;
    
    @include bp_min($tablet) {
        font-size: 1.7rem;
        line-height: (29/14);
    }
}

%p,
.p,
p {
    margin: 0 0 2rem;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-size: 1.4rem;
    line-height: (22/14);

    &:last-child {
        margin-bottom: 0;
    }

    @include bp_min($tablet) {
        font-size: 1.7rem;  
        line-height: (29/17);        
    }
}

%big,
.big,
big {
    font-size: 1.2em;
}

%small,
.small,
small {
    font-size: 0.8em;
}

%hr,
.hr,
hr {
    margin: 2rem 0;
    background-color: #e0e0e0;
    border: none;
    height: 0.1rem;
}

%em,
%i,
.em,
.i,
em,
i {
    font-style: italic;
}

%b,
%strong,
.b,
.strong,
b,
strong {
    font-weight: bold;
}

.drop-cap:first-of-type:first-child:first-letter {
    font-weight: 600;
    float: left;
    font-size: 3.5em;
    line-height: 0.43em;
    padding-top: 0.3em;
    margin-top: 0.1em;
    padding-right: 0.1em;
}


// Anchor / link styles
// ======
a,
%a,
.a {
    font-size: 1em;
    color: currentColor;
    transition: color 0.3s;
    text-decoration: none;
    p > & {
        font-weight: 600;
    }

    &:hover {
        transition: color 0.3s;
        color: $primary;
    }
}

// Text and Image management
// Targetting tag to ensure capture for CMS output images
// ======================================================
img {
    max-width: 100%;
    width: auto;
    height: auto;
}

img {
    margin-bottom: 1em;
}

img.left,
img[style*="float:left;"] {
    padding: 0 3rem 3rem 0;
    float: left;
}

img.right,
img[style*="float:right;"] {
    padding: 3rem 0 0 3rem;
    float: right;
}

// Utilities
// Useful visual styling classes to quickly change a characteristic.
// =================================================================
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-wrap {
    @include word-wrap();
}

.text-ellipsis {
    @include ellipsis();
}